@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import "tailwindcss";
@import "./tokens.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary-main); /* text-primary */
  --color-text-default: var(--text-default); /* text-text-default */

  /* Typography */
  --color-prose-body: var(--text-default);
  --color-prose-headings: var(--text-highlight);
  --color-prose-links: var(--primary-main);
  --color-prose-bold: var(--text-highlight);
  --color-prose-counters: var(--text-subtle);
  --color-prose-bullets: var(--text-subtle);
  --color-prose-hr: var(--border-muted);
  --color-prose-quotes: var(--text-highlight);
  --color-prose-quote-borders: var(--border-default);
  --color-prose-captions: var(--text-subtle);
  --color-prose-code: var(--text-highlight);
  --color-prose-pre-code: var(--text-bright);
  --color-prose-pre-bg: var(--bg-inverse);
  --color-prose-th-borders: var(--border-muted);
  --color-prose-td-borders: var(--border-muted);
}

:root {
  --background: var(--bg-default);
  --foreground: var(--text-default);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "pretendard", sans-serif;
}
