@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE@2/fonts/static/woff2/SUITE.css");
@import "tailwindcss";
@import "./tokens.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand Colors */
  --color-primary-main: var(--primary-main);
  --color-primary-hover: var(--primary-hover);
  --color-primary-bg: var(--primary-bg);

  /* Background Colors */
  --color-bg-default: var(--bg-default);
  --color-bg-subtle: var(--bg-subtle);
  --color-bg-inverse: var(--bg-inverse);

  /* Text Colors (Tailwind Class Mapping) */
  --color-text-default: var(--text-default);
  --color-text-subtle: var(--text-subtle);
  --color-text-inverse: var(--text-inverse);
  --color-text-highlight: var(--text-highlight);
  --color-text-bright: var(--text-bright);
}

:root {
  --background: var(--bg-default);
  --foreground: var(--text-default);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "pretendard", sans-serif;
  margin: auto;
  min-width: 375px;
}

.prose {
  max-width: none;
  line-height: 1.8;
  font-size: 18px;
}

/* Headings */
.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  color: var(--text-highlight);
  font-weight: 600;
  font-family: "SUITE";
}

.prose h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.25;
  margin-bottom: 64px;
}

.prose h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 24px;
  background: var(--bg-subtle);
}

.prose h1 a {
  color: var(--text-highlight);
  text-underline-offset: 12px;
  text-decoration-color: var(--color-text-bright);
  text-decoration-thickness: 4px;
}

.prose h2 {
  font-size: 32px;
}

.prose h3 {
  font-size: 24px;
}

/* Body Text */
.prose p,
.prose ul,
.prose ol {
  color: var(--text-default);
  margin-bottom: 24px;
}

.prose ul {
  padding-left: 1em;
  list-style-type: disc;
}

.prose ol {
  padding-left: 1em;
  list-style-type: decimal;
}

/* Links */
.prose a {
  color: var(--text-bright);
  text-decoration: underline;
  text-underline-offset: 2px;
}
.prose a:hover {
  color: var(--text-highlight);
}

/* Strong / Bold */
.prose strong {
  color: var(--text-highlight);
  font-weight: 600;
}

/* Blockquote */
.prose blockquote {
  border-left-color: var(--primary-main);
  color: var(--text-subtle);
  font-style: italic;
}

/* Code */
.prose code {
  color: var(--text-highlight);
  background-color: var(--bg-subtle);
  padding: 0.2em 0.4em;
  margin: 0 4px;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: 500;
}
.prose pre {
  background-color: var(--bg-inverse);
  color: var(--text-inverse);
}

/* Lists */
.prose ul > li::marker {
  color: var(--primary-main);
}
.prose ol > li::marker {
  color: var(--primary-main);
}

/* HR */
.prose hr {
  border-color: var(--bg-subtle); /* or border-muted if exists */
}

.prose img {
  border-radius: 18px;
}

@media screen and (max-width: 1024px) {
  .prose {
    font-size: 16px;
  }

  .prose h1 {
    font-size: 32px;
  }
  .prose h2 {
    font-size: 24px;
  }

  .prose h3 {
    font-size: 18px;
  }
}

.corner-arrow {
  corner-shape: round bevel bevel round;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
