@import "tailwindcss";
@import "./tokens.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand Colors */
  --color-primary-main: var(--primary-main);
  --color-primary-hover: var(--primary-hover);
  --color-primary-bg: var(--primary-bg);

  /* Background Colors */
  --color-bg-default: var(--bg-default);
  --color-bg-subtle: var(--bg-subtle);
  --color-bg-inverse: var(--bg-inverse);

  /* Text Colors (Tailwind Class Mapping) */
  --color-text-default: var(--text-default);
  --color-text-subtle: var(--text-subtle);
  --color-text-inverse: var(--text-inverse);
  --color-text-highlight: var(--text-highlight);
  --color-text-bright: var(--text-bright);
}

@theme {
  --font-suite: var(--font-suite), sans-serif;
  --font-pretendard: var(--font-pretendard), sans-serif;
}

:root {
  --background: var(--bg-default);
  --foreground: var(--text-default);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
  margin: auto;
  min-width: 375px;
  max-width: 1080px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.prose {
  max-width: none;
  line-height: 1.8;
  font-size: 18px;
}

/* Headings */
.prose h1,
.prose h2,
.prose h3,
.prose h4 {
  color: var(--text-highlight);
  font-weight: 600;
}

.prose h1 {
  display: none;
}

.prose h1 a {
  color: var(--text-highlight);
  text-underline-offset: 12px;
  text-decoration-color: var(--color-text-bright);
  text-decoration-thickness: 4px;
}

.prose h2 {
  font-size: 32px;
}

.prose h3 {
  font-size: 24px;
}

/* Body Text */
.prose p,
.prose ul,
.prose ol {
  color: var(--text-default);
  margin-bottom: 24px;
}

.prose ul {
  padding-left: 1em;
  list-style-type: disc;
}

.prose ol {
  padding-left: 1em;
  list-style-type: decimal;
}

/* Links */
.prose a {
  color: var(--text-bright);
  text-decoration: underline;
  text-underline-offset: 2px;
}
.prose a:hover {
  color: var(--text-highlight);
}

/* Strong / Bold */
.prose strong {
  color: var(--text-highlight);
  font-weight: 600;
}

/* Blockquote */
.prose blockquote {
  border-left-color: var(--primary-main);
  color: var(--text-subtle);
  font-style: italic;
}

/* Code */
.prose code {
  color: var(--text-highlight);
  background-color: var(--bg-subtle);
  padding: 0.2em 0.4em;
  margin: 0 4px;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: 500;
}
.prose pre {
  background-color: var(--bg-inverse);
  color: var(--text-inverse);
}

/* Lists */
.prose ul > li::marker {
  color: var(--primary-main);
}
.prose ol > li::marker {
  color: var(--primary-main);
}

/* HR */
.prose hr {
  border-color: var(--bg-subtle); /* or border-muted if exists */
}

.prose img {
  border-radius: 18px;
}

.prose > p:first-of-type:has(img) {
  display: none;
}

@media screen and (max-width: 1024px) {
  .prose {
    font-size: 16px;
  }

  .prose h1 {
    font-size: 32px;
  }
  .prose h2 {
    font-size: 24px;
  }

  .prose h3 {
    font-size: 18px;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* biome-ignore lint/correctness/noUnknownProperty: experimental technology */
@supports (corner-shape: squircle) {
  .squircle {
    /* biome-ignore lint/correctness/noUnknownProperty: experimental technology */
    corner-shape: squircle;
    border-radius: 48px;
  }
}

@keyframes scroll {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}
